# **Pandas Notebook by Bryan Tjandra**

# Basic Pandas

## Pandas

In [1]:
# Pandas -> Library for data manipulation tools
# pd -> common initial name
# Biasa pandas butuh banyak numpy function

import pandas as pd
import numpy as np

## Series

In [2]:
# Series -> 1 kolom / 1 baris (kayak 1 kolom / baris di excel) (1D)
# 0,1,2 itu indexnya ; 2,3,4 itu valuenya
# Kalo ga specify index , kebuat otomatis dari 0-n
# Cara buat series bisa pake list / dictionary

# Buat series pake list
series = pd.Series(np.array([2,3,4]))
series

0    2
1    3
2    4
dtype: int64

In [3]:
# Kita bisa specify index yang kita mau

series = pd.Series(np.array([2,3,4]), index=['a', 'b', 'c'])
series

a    2
b    3
c    4
dtype: int64

In [4]:
# Kita juga bisa specify index dari dictionary

x = {'a': 2, 'b': 3, 'c': 4} 
series = pd.Series(x)
series

a    2
b    3
c    4
dtype: int64

In [5]:
# Kalo dari dictionary setelah kita index , kita mau ganti index laen gabisa gini
x = {'a': 2, 'b': 3, 'c': 4} 
series = pd.Series(x, index=['x', 'y', 'z'])
series

x   NaN
y   NaN
z   NaN
dtype: float64

## DataFrame

In [6]:
# DataFrame -> 1 Table (>1 kolom) , seperti excel table (2D) (baris x kolom)
# Cara buat dataframe bisa dari list / dictionary

# Kalo ga di specify index / nama kolom , automatically kebuat dari 0-n
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]))
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
# Specify index dan nama kolom

df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                  columns=['col1', 'col2', 'col3'], index= ['a','b','c'])
df

   col1  col2  col3
a     1     2     3
b     4     5     6
c     7     8     9

In [8]:
# Cek type per kolom
df.dtypes

col1    int64
col2    int64
col3    int64
dtype: object

In [9]:
# Cara buat DataFrame pake dictionary sama kyk series , tapi dictionary >1 key value
# dengan keynya bukan index tapi nama kolom

x = {'col1': [1, 4, 7], 'col2': [2, 5, 8], 'col3': [3, 6, 9]}
df = pd.DataFrame(x, index=['a','b','c'])
df

   col1  col2  col3
a     1     2     3
b     4     5     6
c     7     8     9

## Read Dataset

In [10]:
# gdown -> library to download things from drive
import gdown

# Download dataset from drive link

meta_url = 'https://drive.google.com/uc?id='
url = meta_url + '1AKSrGoBNw84oGgejga9GulJUVWIEYTg4'
output = 'melb_data.csv'

gdown.download(url, output, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1AKSrGoBNw84oGgejga9GulJUVWIEYTg4
To: /content/melb_data.csv
100%|██████████| 2.09M/2.09M [00:00<00:00, 99.2MB/s]

'melb_data.csv'

Ini contoh file CSV (Comma Seperated Value)

![image.png]()

In [11]:
# Cara read dataset .csv pake pd.read_csv
# kalo read dataset excel (.xlsx) pake pd.read_excel

filepath = '/content/melb_data.csv'
df = pd.read_csv(filepath)
# df = pd.read_csv(filepath, index_col='Date') set index
# df.to_csv('dataset.csv')  untuk ubah dataset ke csv

In [12]:
df.head() # ngeliat 5 baris teratas

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [13]:
df.head(2) # ngeliat 2 baris teratas

       Suburb          Address  ...             Regionname Propertycount
0  Abbotsford     85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford  25 Bloomburg St  ...  Northern Metropolitan        4019.0

[2 rows x 21 columns]

In [14]:
df.tail() # ngeliat 5 baris terbawah

              Suburb        Address  ...                  Regionname Propertycount
13575  Wheelers Hill   12 Strada Cr  ...  South-Eastern Metropolitan        7392.0
13576   Williamstown  77 Merrett Dr  ...        Western Metropolitan        6380.0
13577   Williamstown    83 Power St  ...        Western Metropolitan        6380.0
13578   Williamstown   96 Verdon St  ...        Western Metropolitan        6380.0
13579     Yarraville     6 Agnes St  ...        Western Metropolitan        6543.0

[5 rows x 21 columns]

In [15]:
df.tail(2) # ngeliat 2 baris terbawah

             Suburb       Address  ...            Regionname Propertycount
13578  Williamstown  96 Verdon St  ...  Western Metropolitan        6380.0
13579    Yarraville    6 Agnes St  ...  Western Metropolitan        6543.0

[2 rows x 21 columns]

## Information about dataset

In [16]:
df.info() # Information about dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [17]:
df.describe() # check statistical description about dataset

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

In [18]:
df.describe(include='object')  # check statistical description about dataset

           Suburb           Address  ... CouncilArea             Regionname
count       13580             13580  ...       12211                  13580
unique        314             13378  ...          33                      8
top     Reservoir  36 Aberfeldie St  ...    Moreland  Southern Metropolitan
freq          359                 3  ...        1163                   4695

[4 rows x 8 columns]

## Loc

Loc -> untuk liat lokasi suatu kolom / baris yang diambil dari namanya

In [19]:
temp_df = df.head()
temp_df

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [20]:
temp_df.loc[0] # ngeliat baris dengan index 0 dari temp_df
# Karena bentuk 1D , diliat dalam bentuk Series

Suburb                      Abbotsford
Address                   85 Turner St
Rooms                                2
Type                                 h
Price                        1480000.0
Method                               S
SellerG                         Biggin
Date                         3/12/2016
Distance                           2.5
Postcode                        3067.0
Bedroom2                           2.0
Bathroom                           1.0
Car                                1.0
Landsize                         202.0
BuildingArea                       NaN
YearBuilt                          NaN
CouncilArea                      Yarra
Lattitude                     -37.7996
Longtitude                    144.9984
Regionname       Northern Metropolitan
Propertycount                   4019.0
Name: 0, dtype: object

In [21]:
temp_df.loc[0:2] # ngeliat baris dengan index 0,1,2
# loc itu inklusif
# Karena bentuk 2D , diliat dari bentuk DataFrame

       Suburb          Address  ...             Regionname Propertycount
0  Abbotsford     85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford  25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford     5 Charles St  ...  Northern Metropolitan        4019.0

[3 rows x 21 columns]

In [22]:
temp_df.loc[0,'Suburb'] 
# ngeliat baris dengan index 0 dan kolom suburb

'Abbotsford'

In [23]:
temp_df.loc[0,['Suburb','Address','Rooms','Type','Price','Method']]
# ngeliat baris dengan index 0 dan kolom suburb , addres , .... , method

Suburb       Abbotsford
Address    85 Turner St
Rooms                 2
Type                  h
Price         1480000.0
Method                S
Name: 0, dtype: object

In [24]:
temp_df.loc[0,'Suburb':'Method']
# ngeliat baris dengan index 0 dan kolom suburb sampe method

Suburb       Abbotsford
Address    85 Turner St
Rooms                 2
Type                  h
Price         1480000.0
Method                S
Name: 0, dtype: object

In [25]:
temp_df.loc[0:2,'Suburb':'Method']
# ngeliat baris dengan index 0,1,2 dan kolom suburb sampe method

       Suburb          Address  Rooms Type      Price Method
0  Abbotsford     85 Turner St      2    h  1480000.0      S
1  Abbotsford  25 Bloomburg St      2    h  1035000.0      S
2  Abbotsford     5 Charles St      3    h  1465000.0     SP

In [26]:
temp_df.loc[:,'Suburb':'Method']
# ngeliat semua baris dengan kolom suburb sampe method

       Suburb           Address  Rooms Type      Price Method
0  Abbotsford      85 Turner St      2    h  1480000.0      S
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2  Abbotsford      5 Charles St      3    h  1465000.0     SP
3  Abbotsford  40 Federation La      3    h   850000.0     PI
4  Abbotsford       55a Park St      4    h  1600000.0     VB

## Iloc

iLoc -> untuk liat lokasi suatu kolom / baris yang diambil dari indexnya

In [27]:
temp_df

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [28]:
temp_df.iloc[0] 
# ngeliat baris dengan urutan ke 0 dari temp_df

Suburb                      Abbotsford
Address                   85 Turner St
Rooms                                2
Type                                 h
Price                        1480000.0
Method                               S
SellerG                         Biggin
Date                         3/12/2016
Distance                           2.5
Postcode                        3067.0
Bedroom2                           2.0
Bathroom                           1.0
Car                                1.0
Landsize                         202.0
BuildingArea                       NaN
YearBuilt                          NaN
CouncilArea                      Yarra
Lattitude                     -37.7996
Longtitude                    144.9984
Regionname       Northern Metropolitan
Propertycount                   4019.0
Name: 0, dtype: object

In [29]:
temp_df.iloc[0:3] 
# ngeliat baris dengan urutan ke 0 sampe 1 dari temp_df
# iloc itu eksklusif

       Suburb          Address  ...             Regionname Propertycount
0  Abbotsford     85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford  25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford     5 Charles St  ...  Northern Metropolitan        4019.0

[3 rows x 21 columns]

In [30]:
temp_df.iloc[0,0] 
# ngeliat baris dengan urutan ke 0 dan kolom urutan ke 0

'Abbotsford'

In [31]:
temp_df.iloc[0,[0,1,2,3,4,5]] 
# ngeliat baris dengan urutan ke 0 dan kolom urutan ke 0,1,2,3,4,5

Suburb       Abbotsford
Address    85 Turner St
Rooms                 2
Type                  h
Price         1480000.0
Method                S
Name: 0, dtype: object

In [32]:
temp_df.iloc[0,0:6] 
# ngeliat baris dengan urutan ke 0 dan kolom urutan ke 0-5

Suburb       Abbotsford
Address    85 Turner St
Rooms                 2
Type                  h
Price         1480000.0
Method                S
Name: 0, dtype: object

In [33]:
temp_df.iloc[0:3,0:6] 
# ngeliat baris dengan urutan ke 0-2 dan kolom urutan ke 0-5

       Suburb          Address  Rooms Type      Price Method
0  Abbotsford     85 Turner St      2    h  1480000.0      S
1  Abbotsford  25 Bloomburg St      2    h  1035000.0      S
2  Abbotsford     5 Charles St      3    h  1465000.0     SP

In [34]:
temp_df.iloc[:,0:6]
# ngeliat semua baris dengan kolom urutan 0-5

       Suburb           Address  Rooms Type      Price Method
0  Abbotsford      85 Turner St      2    h  1480000.0      S
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2  Abbotsford      5 Charles St      3    h  1465000.0     SP
3  Abbotsford  40 Federation La      3    h   850000.0     PI
4  Abbotsford       55a Park St      4    h  1600000.0     VB

## Accesing column

In [35]:
temp_df

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [36]:
temp_df.columns
# Ngeliat nama nama kolom di dataframe

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [37]:
temp_df.Suburb
# Access Suburb column

0    Abbotsford
1    Abbotsford
2    Abbotsford
3    Abbotsford
4    Abbotsford
Name: Suburb, dtype: object

In [38]:
temp_df['Suburb']
# Access Suburb column
# kalo mau ambil 1 kolom , indexing berupa nama kolom

0    Abbotsford
1    Abbotsford
2    Abbotsford
3    Abbotsford
4    Abbotsford
Name: Suburb, dtype: object

In [39]:
temp_df[['Suburb','Rooms','Type']]
# Access Suburb,rooms,type column
# kalo mau ambil banyak kolom , indexing berupa list of nama kolom

       Suburb  Rooms Type
0  Abbotsford      2    h
1  Abbotsford      2    h
2  Abbotsford      3    h
3  Abbotsford      3    h
4  Abbotsford      4    h

## Accesing row with condition

In [40]:
temp_df

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [41]:
mask = temp_df['Rooms'] >= 3
mask
# Masking rooms yang >= 3

0    False
1    False
2     True
3     True
4     True
Name: Rooms, dtype: bool

In [42]:
temp_df[mask]
# Ambil baris yang True yaitu baris di index 2-4

       Suburb           Address  ...             Regionname Propertycount
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[3 rows x 21 columns]

In [43]:
temp_df[temp_df['Bedroom2']==3]
# Ambil baris yang bedroom2 == 3

       Suburb           Address  ...             Regionname Propertycount
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[3 rows x 21 columns]

In [44]:
temp_df[(temp_df['Bedroom2']==3) & (temp_df['Price']>1000000)]
# ambil baris yang bedroom nya 3 dan price nya > 1 jt

       Suburb       Address  ...             Regionname Propertycount
2  Abbotsford  5 Charles St  ...  Northern Metropolitan        4019.0
4  Abbotsford   55a Park St  ...  Northern Metropolitan        4019.0

[2 rows x 21 columns]

In [45]:
temp_df[(temp_df['Bedroom2']==3) | (temp_df['Price']>1000000)]
# ambil baris yang bedroom nya 3 atau price nya > 1 jt

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [46]:
temp_df[temp_df['Method'].isin(['S','SP'])]
# ambil baris yang methodnya S , SP

       Suburb          Address  ...             Regionname Propertycount
0  Abbotsford     85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford  25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford     5 Charles St  ...  Northern Metropolitan        4019.0

[3 rows x 21 columns]

In [47]:
temp_df[temp_df['Method'].str.startswith('S')]
# ambil baris yang methodnya start dengan huruf S

       Suburb          Address  ...             Regionname Propertycount
0  Abbotsford     85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford  25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford     5 Charles St  ...  Northern Metropolitan        4019.0

[3 rows x 21 columns]

## Accessing column with condition

In [48]:
temp_df.select_dtypes(include = 'object')
# Select kolom yang isinya object / string

       Suburb           Address  ... CouncilArea             Regionname
0  Abbotsford      85 Turner St  ...       Yarra  Northern Metropolitan
1  Abbotsford   25 Bloomburg St  ...       Yarra  Northern Metropolitan
2  Abbotsford      5 Charles St  ...       Yarra  Northern Metropolitan
3  Abbotsford  40 Federation La  ...       Yarra  Northern Metropolitan
4  Abbotsford       55a Park St  ...       Yarra  Northern Metropolitan

[5 rows x 8 columns]

In [49]:
temp_df.select_dtypes(exclude = 'object')
# Select kolom yang isinya selain object / string

   Rooms      Price  Distance  ...  Lattitude  Longtitude  Propertycount
0      2  1480000.0       2.5  ...   -37.7996    144.9984         4019.0
1      2  1035000.0       2.5  ...   -37.8079    144.9934         4019.0
2      3  1465000.0       2.5  ...   -37.8093    144.9944         4019.0
3      3   850000.0       2.5  ...   -37.7969    144.9969         4019.0
4      4  1600000.0       2.5  ...   -37.8072    144.9941         4019.0

[5 rows x 13 columns]

## Renaming

In [50]:
temp_df

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [51]:
temp_df.rename(columns = {'BuildingArea':'Area', 'YearBuilt':'Year'},index = {0:'first',1:'second'})
# Untuk rename nama kolom dan nama index

            Suburb           Address  ...             Regionname Propertycount
first   Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
second  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2       Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3       Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4       Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [52]:
temp_df.rename(index = dict(zip(range(5),range(5,0,-1))))
# rename nama index pake zip and range , jadi gausah satu satu specify key , value

       Suburb           Address  ...             Regionname Propertycount
5  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
4  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
2  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
1  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [53]:
temp_df.rename(columns = str.upper)
# Rename kolom menjadi huruf besar semua

       SUBURB           ADDRESS  ...             REGIONNAME PROPERTYCOUNT
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [54]:
temp_df.rename_axis('row',axis=0).rename_axis('column',axis=1)
# Kasi nama axis untuk kolom dan baris

column      Suburb           Address  ...             Regionname Propertycount
row                                   ...
0       Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1       Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2       Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3       Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4       Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [55]:
months = pd.to_datetime(temp_df.Date, format='%d/%m/%Y').dt.month
sort_month = months.sort_values()
temp_df.reindex(index=sort_month.index)
# Reindex sesuai urutan bulan

       Suburb           Address  ...             Regionname Propertycount
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

## Changing Value

In [56]:
int_df = temp_df.select_dtypes(exclude = 'object')
int_df

   Rooms      Price  Distance  ...  Lattitude  Longtitude  Propertycount
0      2  1480000.0       2.5  ...   -37.7996    144.9984         4019.0
1      2  1035000.0       2.5  ...   -37.8079    144.9934         4019.0
2      3  1465000.0       2.5  ...   -37.8093    144.9944         4019.0
3      3   850000.0       2.5  ...   -37.7969    144.9969         4019.0
4      4  1600000.0       2.5  ...   -37.8072    144.9941         4019.0

[5 rows x 13 columns]

In [57]:
int_df['Capacity']= df['Rooms'] + df['Bedroom2']
int_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   Rooms      Price  Distance  ...  Longtitude  Propertycount  Capacity
0      2  1480000.0       2.5  ...    144.9984         4019.0       4.0
1      2  1035000.0       2.5  ...    144.9934         4019.0       4.0
2      3  1465000.0       2.5  ...    144.9944         4019.0       6.0
3      3   850000.0       2.5  ...    144.9969         4019.0       6.0
4      4  1600000.0       2.5  ...    144.9941         4019.0       7.0

[5 rows x 14 columns]

In [58]:
obj_df = temp_df.select_dtypes(include = 'object')
obj_df

       Suburb           Address  ... CouncilArea             Regionname
0  Abbotsford      85 Turner St  ...       Yarra  Northern Metropolitan
1  Abbotsford   25 Bloomburg St  ...       Yarra  Northern Metropolitan
2  Abbotsford      5 Charles St  ...       Yarra  Northern Metropolitan
3  Abbotsford  40 Federation La  ...       Yarra  Northern Metropolitan
4  Abbotsford       55a Park St  ...       Yarra  Northern Metropolitan

[5 rows x 8 columns]

In [59]:
import warnings
warnings.filterwarnings("ignore")

obj_df['TypeMethod']= df['Type'] + df['Method']
obj_df
# Buat kolom baru yang isinya gabungan kolom type dan method

       Suburb           Address  ...             Regionname TypeMethod
0  Abbotsford      85 Turner St  ...  Northern Metropolitan         hS
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan         hS
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        hSP
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        hPI
4  Abbotsford       55a Park St  ...  Northern Metropolitan        hVB

[5 rows x 9 columns]

In [60]:
obj_df['Suburb'] = 'Hello'
obj_df
# Ganti value di kolom suburb jadi Hello

  Suburb           Address Type  ... CouncilArea             Regionname TypeMethod
0  Hello      85 Turner St    h  ...       Yarra  Northern Metropolitan         hS
1  Hello   25 Bloomburg St    h  ...       Yarra  Northern Metropolitan         hS
2  Hello      5 Charles St    h  ...       Yarra  Northern Metropolitan        hSP
3  Hello  40 Federation La    h  ...       Yarra  Northern Metropolitan        hPI
4  Hello       55a Park St    h  ...       Yarra  Northern Metropolitan        hVB

[5 rows x 9 columns]

In [61]:
obj_df.loc[:,'Suburb'] = 'Hi'
obj_df
# Cara laen untuk ganti value

  Suburb           Address Type  ... CouncilArea             Regionname TypeMethod
0     Hi      85 Turner St    h  ...       Yarra  Northern Metropolitan         hS
1     Hi   25 Bloomburg St    h  ...       Yarra  Northern Metropolitan         hS
2     Hi      5 Charles St    h  ...       Yarra  Northern Metropolitan        hSP
3     Hi  40 Federation La    h  ...       Yarra  Northern Metropolitan        hPI
4     Hi       55a Park St    h  ...       Yarra  Northern Metropolitan        hVB

[5 rows x 9 columns]

In [62]:
obj_df.iloc[np.arange(0,5,2),np.arange(0,9,2)] = np.NaN
obj_df
# ganti specify cell dengan NaN

  Suburb           Address Type  ... CouncilArea             Regionname TypeMethod
0    NaN      85 Turner St  NaN  ...         NaN  Northern Metropolitan        NaN
1     Hi   25 Bloomburg St    h  ...       Yarra  Northern Metropolitan         hS
2    NaN      5 Charles St  NaN  ...         NaN  Northern Metropolitan        NaN
3     Hi  40 Federation La    h  ...       Yarra  Northern Metropolitan        hPI
4    NaN       55a Park St  NaN  ...         NaN  Northern Metropolitan        NaN

[5 rows x 9 columns]

In [63]:
drop_df = obj_df.drop(columns='Regionname')
drop_df
# ilangin kolom regionname , tapi yg ilang di drop_df , obj_df masi ada

  Suburb           Address Type  ...       Date CouncilArea TypeMethod
0    NaN      85 Turner St  NaN  ...  3/12/2016         NaN        NaN
1     Hi   25 Bloomburg St    h  ...  4/02/2016       Yarra         hS
2    NaN      5 Charles St  NaN  ...  4/03/2017         NaN        NaN
3     Hi  40 Federation La    h  ...  4/03/2017       Yarra        hPI
4    NaN       55a Park St  NaN  ...  4/06/2016         NaN        NaN

[5 rows x 8 columns]

In [64]:
obj_df.drop(columns='Regionname', inplace=True)
obj_df
# kalo mau ilangin di obj_df , pake inplace = True

  Suburb           Address Type  ...       Date CouncilArea TypeMethod
0    NaN      85 Turner St  NaN  ...  3/12/2016         NaN        NaN
1     Hi   25 Bloomburg St    h  ...  4/02/2016       Yarra         hS
2    NaN      5 Charles St  NaN  ...  4/03/2017         NaN        NaN
3     Hi  40 Federation La    h  ...  4/03/2017       Yarra        hPI
4    NaN       55a Park St  NaN  ...  4/06/2016         NaN        NaN

[5 rows x 8 columns]

In [65]:
obj_df.drop(index=[0,1,2])
# drop index 0,1,2 , tapi ga keganti di obj_df
# Karena by default inplace= False

  Suburb           Address Type  ...       Date CouncilArea TypeMethod
3     Hi  40 Federation La    h  ...  4/03/2017       Yarra        hPI
4    NaN       55a Park St  NaN  ...  4/06/2016         NaN        NaN

[2 rows x 8 columns]

## Replacing

In [66]:
temp_df

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [67]:
temp_df['SellerG'] = temp_df['SellerG'].replace({'Biggin':0,'Nelson':1})
# temp_df['SellerG'].replace(['Biggin','Nelson'],[0,1])  ini sama aja hasilnya sama syntax di atas
temp_df
# Replace value Biggin dan nelson di kolom sellerG jdi 0 dan 1

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [68]:
pd.get_dummies(temp_df[['Method']])
# Auto generate one hot encoding for categorical

   Method_PI  Method_S  Method_SP  Method_VB
0          0         1          0          0
1          0         1          0          0
2          0         0          1          0
3          1         0          0          0
4          0         0          0          1

## Modifying Index

In [69]:
obj_df

  Suburb           Address Type  ...       Date CouncilArea TypeMethod
0    NaN      85 Turner St  NaN  ...  3/12/2016         NaN        NaN
1     Hi   25 Bloomburg St    h  ...  4/02/2016       Yarra         hS
2    NaN      5 Charles St  NaN  ...  4/03/2017         NaN        NaN
3     Hi  40 Federation La    h  ...  4/03/2017       Yarra        hPI
4    NaN       55a Park St  NaN  ...  4/06/2016         NaN        NaN

[5 rows x 8 columns]

In [70]:
obj_df['Date'] = pd.to_datetime(obj_df['Date'])
obj_df.dtypes
# Ubah kolom date jadi class object datetime

Suburb                 object
Address                object
Type                   object
Method                 object
SellerG                object
Date           datetime64[ns]
CouncilArea            object
TypeMethod             object
dtype: object

In [71]:
obj_df.set_index('Date', inplace=True)
obj_df
# Set kolom date jadi index

           Suburb           Address Type Method SellerG CouncilArea TypeMethod
Date
2016-03-12    NaN      85 Turner St  NaN      S     NaN         NaN        NaN
2016-04-02     Hi   25 Bloomburg St    h      S  Biggin       Yarra         hS
2017-04-03    NaN      5 Charles St  NaN     SP     NaN         NaN        NaN
2017-04-03     Hi  40 Federation La    h     PI  Biggin       Yarra        hPI
2016-04-06    NaN       55a Park St  NaN     VB     NaN         NaN        NaN

In [72]:
obj_df.index
# Check index dari dataframe

DatetimeIndex(['2016-03-12', '2016-04-02', '2017-04-03', '2017-04-03',
               '2016-04-06'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [73]:
obj_df.reset_index()
# Reset index to default

        Date Suburb           Address  ... SellerG CouncilArea TypeMethod
0 2016-03-12    NaN      85 Turner St  ...     NaN         NaN        NaN
1 2016-04-02     Hi   25 Bloomburg St  ...  Biggin       Yarra         hS
2 2017-04-03    NaN      5 Charles St  ...     NaN         NaN        NaN
3 2017-04-03     Hi  40 Federation La  ...  Biggin       Yarra        hPI
4 2016-04-06    NaN       55a Park St  ...     NaN         NaN        NaN

[5 rows x 8 columns]

In [74]:
obj_df.set_index(np.arange(len(obj_df))*2)
# Set index kelipatan 2

  Suburb           Address Type Method SellerG CouncilArea TypeMethod
0    NaN      85 Turner St  NaN      S     NaN         NaN        NaN
2     Hi   25 Bloomburg St    h      S  Biggin       Yarra         hS
4    NaN      5 Charles St  NaN     SP     NaN         NaN        NaN
6     Hi  40 Federation La    h     PI  Biggin       Yarra        hPI
8    NaN       55a Park St  NaN     VB     NaN         NaN        NaN

## Statistical Attribute

In [75]:
temp_df

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [76]:
print(temp_df['Landsize'].mean()) # itung mean Landsize
print(temp_df['Landsize'].median()) # itung median Landsize
print(temp_df['Landsize'].var()) # itung varians Landsize
print(temp_df['Landsize'].std()) # itung stdev Landsize
print(temp_df['Landsize'].quantile(0.25)) # itung Q1 Landsize

141.2
134.0
1661.2
40.75782133529711
120.0

In [77]:
print(temp_df['SellerG'].unique()) # tampilin unique value dari sellerG
print(temp_df['SellerG'].nunique()) # itung jumlah unique value dari sellerG

[0 1]
2

In [78]:
temp_df.select_dtypes(include='float').corr() # Melihat korelasi antar setiap feature

                  Price  Distance  ...  Longtitude  Propertycount
Price          1.000000       NaN  ...   -0.057188            NaN
Distance            NaN       NaN  ...         NaN            NaN
Postcode            NaN       NaN  ...         NaN            NaN
Bedroom2       0.080159       NaN  ...   -0.198327            NaN
Bathroom      -0.361419       NaN  ...    0.090541            NaN
Car            0.355366       NaN  ...    0.245559            NaN
Landsize       0.391463       NaN  ...    0.338251            NaN
BuildingArea   0.944787       NaN  ...    0.981318            NaN
YearBuilt      0.684861       NaN  ...    0.225018            NaN
Lattitude     -0.446531       NaN  ...    0.875588            NaN
Longtitude    -0.057188       NaN  ...    1.000000            NaN
Propertycount       NaN       NaN  ...         NaN            NaN

[12 rows x 12 columns]

In [79]:
temp_df['Bathroom'].value_counts()
# Itung jumlah value tiap nilai di bathroom

1.0    3
2.0    2
Name: Bathroom, dtype: int64

In [80]:
temp_df['Bathroom'].sort_values()
# Urutin value pada kolom bathroom , dari rendah ke tinggi

0    1.0
1    1.0
4    1.0
2    2.0
3    2.0
Name: Bathroom, dtype: float64

In [81]:
temp_df.sort_values(by='Price', ascending= False)
# Sort value pada kolom price , dari tinggi ke rendah

       Suburb           Address  ...             Regionname Propertycount
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [82]:
temp_df.sort_values(by=['Rooms','Price'], ascending= [True, False])
# Sort value pada kolom price dari tinggi ke rendah , kolom rooms dari rendah ke tinggi

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [83]:
temp_df.mode()
# Check nilai yang muncul terbanyak sampe terdikit pada tiap kolom

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
1         NaN  40 Federation La  ...                    NaN           NaN
2         NaN      5 Charles St  ...                    NaN           NaN
3         NaN       55a Park St  ...                    NaN           NaN
4         NaN      85 Turner St  ...                    NaN           NaN

[5 rows x 21 columns]

In [84]:
temp_df.mode().iloc[0]
# Ambil frekuensi yang terbanyak

Suburb                      Abbotsford
Address                25 Bloomburg St
Rooms                              2.0
Type                                 h
Price                         850000.0
Method                               S
SellerG                            0.0
Date                         4/03/2017
Distance                           2.5
Postcode                        3067.0
Bedroom2                           3.0
Bathroom                           1.0
Car                                0.0
Landsize                          94.0
BuildingArea                      79.0
YearBuilt                       1900.0
CouncilArea                      Yarra
Lattitude                     -37.8093
Longtitude                    144.9934
Regionname       Northern Metropolitan
Propertycount                   4019.0
Name: 0, dtype: object

## Missing Value

In [85]:
obj_df

           Suburb           Address Type Method SellerG CouncilArea TypeMethod
Date
2016-03-12    NaN      85 Turner St  NaN      S     NaN         NaN        NaN
2016-04-02     Hi   25 Bloomburg St    h      S  Biggin       Yarra         hS
2017-04-03    NaN      5 Charles St  NaN     SP     NaN         NaN        NaN
2017-04-03     Hi  40 Federation La    h     PI  Biggin       Yarra        hPI
2016-04-06    NaN       55a Park St  NaN     VB     NaN         NaN        NaN

In [86]:
obj_df['Address'].isnull()
# Check if there is missing value in date column

Date
2016-03-12    False
2016-04-02    False
2017-04-03    False
2017-04-03    False
2016-04-06    False
Name: Address, dtype: bool

In [87]:
obj_df['Address'].notnull()
# Check if there is no missing value in date column

Date
2016-03-12    True
2016-04-02    True
2017-04-03    True
2017-04-03    True
2016-04-06    True
Name: Address, dtype: bool

In [88]:
obj_df.isnull()
# Check semua cell yang ada missing value

            Suburb  Address   Type  Method  SellerG  CouncilArea  TypeMethod
Date
2016-03-12    True    False   True   False     True         True        True
2016-04-02   False    False  False   False    False        False       False
2017-04-03    True    False   True   False     True         True        True
2017-04-03   False    False  False   False    False        False       False
2016-04-06    True    False   True   False     True         True        True

In [89]:
missing_col = [col for col in obj_df.columns if obj_df[col].isnull().any()]
missing_col
# Check column yg ada missing value

['Suburb', 'Type', 'SellerG', 'CouncilArea', 'TypeMethod']

In [90]:
obj_df.fillna('Empty')
# fill missing value dengan tulisan 'Empty'

           Suburb           Address   Type  ... SellerG CouncilArea TypeMethod
Date                                        ...
2016-03-12  Empty      85 Turner St  Empty  ...   Empty       Empty      Empty
2016-04-02     Hi   25 Bloomburg St      h  ...  Biggin       Yarra         hS
2017-04-03  Empty      5 Charles St  Empty  ...   Empty       Empty      Empty
2017-04-03     Hi  40 Federation La      h  ...  Biggin       Yarra        hPI
2016-04-06  Empty       55a Park St  Empty  ...   Empty       Empty      Empty

[5 rows x 7 columns]

In [91]:
obj_df.fillna(obj_df.mode().iloc[0])
# Fill empty value dengan value freq terbanyak tiap kolom

           Suburb           Address Type Method SellerG CouncilArea TypeMethod
Date
2016-03-12     Hi      85 Turner St    h      S  Biggin       Yarra        hPI
2016-04-02     Hi   25 Bloomburg St    h      S  Biggin       Yarra         hS
2017-04-03     Hi      5 Charles St    h     SP  Biggin       Yarra        hPI
2017-04-03     Hi  40 Federation La    h     PI  Biggin       Yarra        hPI
2016-04-06     Hi       55a Park St    h     VB  Biggin       Yarra        hPI

In [92]:
obj_df.dropna(axis=0)
# drop baris yang mengandung missing value

           Suburb           Address Type Method SellerG CouncilArea TypeMethod
Date
2016-04-02     Hi   25 Bloomburg St    h      S  Biggin       Yarra         hS
2017-04-03     Hi  40 Federation La    h     PI  Biggin       Yarra        hPI

In [93]:
obj_df.dropna(axis=1)
# drop kolom yang mengandung missing value

                     Address Method
Date
2016-03-12      85 Turner St      S
2016-04-02   25 Bloomburg St      S
2017-04-03      5 Charles St     SP
2017-04-03  40 Federation La     PI
2016-04-06       55a Park St     VB

## Grouping

In [94]:
temp_df

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [95]:
temp_df.groupby('Rooms')['Landsize'].mean()
# Di group per value Rooms dengan mean Landsize per Rooms

Rooms
2    179.0
3    114.0
4    120.0
Name: Landsize, dtype: float64

In [96]:
temp_df.groupby('Rooms')['Suburb'].count()
# Di group per value Rooms dengan banyaknya value Suburb per Rooms

Rooms
2    2
3    2
4    1
Name: Suburb, dtype: int64

In [97]:
temp_df.groupby('Rooms')['BuildingArea'].sum()
# Di group per value Rooms dengan jumlah value BuildingArea per Rooms

Rooms
2     79.0
3    150.0
4    142.0
Name: BuildingArea, dtype: float64

In [98]:
temp_df.groupby('Rooms')['BuildingArea', 'Car'].sum()
# Di group per value Rooms dengan jumlah value Building Area dan Car per Rooms

       BuildingArea  Car
Rooms
2              79.0  1.0
3             150.0  1.0
4             142.0  2.0

In [99]:
temp_df

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [100]:
temp_df.groupby(['Rooms','Car'])['BuildingArea'].max()
# Ini multi-index

Rooms  Car
2      0.0     79.0
       1.0      NaN
3      0.0    150.0
       1.0      NaN
4      2.0    142.0
Name: BuildingArea, dtype: float64

In [101]:
temp_df.groupby(['Rooms','Car'])['BuildingArea'].max().unstack()
# Ini multi-index yang di unstack

Car      0.0  1.0    2.0
Rooms
2       79.0  NaN    NaN
3      150.0  NaN    NaN
4        NaN  NaN  142.0

In [102]:
temp_df.groupby('Rooms')['Landsize'].agg(['min', 'max', 'median', 'mean'])
# Di group per value Rooms dengan min,max,median,mean Landsize per Rooms

         min    max  median   mean
Rooms
2      156.0  202.0   179.0  179.0
3       94.0  134.0   114.0  114.0
4      120.0  120.0   120.0  120.0

In [103]:
temp_df.groupby('Rooms').agg({'Landsize':['min', 'max'], 'BuildingArea':['median', 'mean']})
# Di group per value Rooms dengan min,max Landsize, dan median,mean BuildingArea per Rooms

      Landsize        BuildingArea
           min    max       median   mean
Rooms
2        156.0  202.0         79.0   79.0
3         94.0  134.0        150.0  150.0
4        120.0  120.0        142.0  142.0

In [104]:
temp_df.groupby('Rooms')['Rooms'].count()
temp_df.groupby('Rooms').size()
temp_df['Rooms'].value_counts()
# 3 fungsi ini untuk itung jumlah kemunculan value rooms

2    2
3    2
4    1
Name: Rooms, dtype: int64

# Intermediate Pandas

## Merging

In [ ]:
df1 = pd.DataFrame({'1':[10,11,12,13], '2':[20,21,22,23], '3':[30,31,32,33], '4':[40,41,42,43]}, 
                   index=['a','b','c','d']).reset_index()
df1

In [ ]:
df2 = pd.DataFrame({'5':[50,51,52,53], '6':[60,61,62,63], '7':[70,71,72,73], '8':[80,81,82,83]}, 
                   index=['d','c','b','a']).reset_index()
df2

In [ ]:
pd.merge(df1,df2)
# merge df1 dan df2 berdasar index

In [ ]:
pd.merge(df1,df2[['index','5','6']])
# pd.merge(df1,df2[['5','6']]) ini error karena ga ada index yang bisa dimerge

In [ ]:
pd.concat([df1,df2],axis=1)
# gabungin kolom secara langsung

In [ ]:
pd.concat([df1,df2],axis=0)
# gabungin baris secara langsung

## Changing Value (Continue)

In [ ]:
temp_df

In [ ]:
temp_df['Rooms'].map(lambda x: x-temp_df['Rooms'].mean())
# Changing value with anonymous function with map

In [ ]:
temp_df['Rooms'].apply(lambda x: x-temp_df['Rooms'].mean())
# Changing value with anynomous function with apply
# Apply sama map sama aja

In [ ]:
def remean(x):
  return x-temp_df['Rooms'].mean()
temp_df['Rooms'].apply(remean)
# Changing value with self-defined function with apply

In [ ]:
temp_df.groupby('Rooms').apply(lambda x : x['Landsize'] - x['Landsize'].mean())
# Changing Group value with anynomous function with apply

## Align

In [ ]:
df1 = pd.DataFrame([[1,2,3,4], [6,7,8,9]], columns=['D', 'B', 'E', 'A'], index=[1,2])
df2 = pd.DataFrame([[10,20,30,40], [60,70,80,90], [600,700,800,900]], columns=['A', 'B', 'C', 'D'], index=[2,3,4])

In [ ]:
df1

In [ ]:
df2

In [ ]:
a1,a2 = df1.align(df2, join='left',axis=1)
# Nyamain kolom df2 dengan df1
# Yang berubah a2 , a1 tetap (karena dia yang dicopy)

In [ ]:
a1

In [ ]:
a2

# References

https://pandas.pydata.org/docs/reference

https://www.kaggle.com/learn/pandas

https://www.udemy.com/course/python-for-data-science-machine-learning